* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background: #eee;
  padding: 0 1em;
}

header {
  background-color: #f5ba13;
  margin: auto -0.5em;
  padding: 1em 1.875em;
  border-bottom: 1px solid black;
  height: 4.7em;
  position: fixed;
}

.main {
  background-color: #f5ba13;
  height: 34.3em;
  margin: auto -1em;
  border-bottom: 1px solid black;
}

.main h1 {
  display: block;
  padding-top: 170px;
  margin-left:  60px;
  font-size: 6.625em;
  font-weight: 400;
  font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
  letter-spacing: -0.05em;

}

.main .paragraph {
  margin-left: 3.75em;
  padding-top: 1.56em;
  display: block;
  font-size: 1.5em;
  line-height: 1.5em;
  color: #242424;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
.nav{
  font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: pointer;
  margin-left: 50em;
  margin-top: -2.5em;
}
.nav .nav-elements{
  font-size: 14px;
  padding-right: 33px;
}
.nav .btn2{
  font-size: 14px;
  width: 100px;
  padding: 9px 10px;
  box-sizing: border-box;
  border: 1px solid  rgba(25, 25, 25, 1);
  border-radius: 99em;
  background: rgba(25, 25, 25, 1);
  fill: rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
.main .btn {
  font-size: 20px;
  width: 213px;
  padding: 8px 20px;
  margin-left: 60px;
  margin-top: 50px;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid  rgba(25, 25, 25, 1);
  border-radius: 99em;
  background: rgba(25, 25, 25, 1);
  fill: rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.btn:hover{
  background-color: black;
}
.banner{
  width: 40em;
  margin-top:-400px;
  margin-left: 700px;
}
.content{
  background-color:rgb(228, 228, 204);
  display: grid;
  gap: 3.125em 3.125em;
  margin: auto -1em;
  padding-right: 1.875em;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.image {
  width: 180px;
  margin-left: 40px;
}
.tr{
  background-color:rgb(228,228,204);
  margin: auto -1em;
  padding-left: 40px;
  padding-bottom: 40px;
  padding-top: 20px;
}

.block{
  margin-left: 2.5em;
  display: -ms-inline-grid;
  width: 15.625em;
  word-wrap: break-word;
}
h4{
  margin-left: 40px;
  margin-top: -25px;
  padding: 5px;
}
.block .num{
  width: 18%; 
}

@media screen and (max-width: 1028px) {
  .banner {visibility: hidden;}
  .nav-elements {visibility: hidden;}
  .main h1 {
    display: block;
    padding-top: 120px;
    margin-left:  60px;
    
  }
  .paragraph{
    font-size: 1em;
  }
  .btn {visibility: hidden;}
  .block{
    margin-left: 0.5em;
    font-size: 1em;
    width: 10.625em;
    word-wrap: break-word;
  }
  .content{
    grid-template-columns: auto auto;
    justify-content: space-around;
  }
}